@page "/matches"
@page "/matches/{id:int}"
@inject IHamsterService hamsterService
@inject IJSRuntime jsRuntime

<h3>Index</h3>

@code {
    public int? Id { get; set; }

    private List<HamsterReadOnlyDto> Model;
    private Response<List<HamsterReadOnlyDto>> response = new Response<List<HamsterReadOnlyDto>> { Success = true };

    protected override async Task OnInitializedAsync()
    {
        response = await hamsterService.GetHamsters();
        if (response.Success)
        {
            Model = response.Data;
        }
    }
}
